<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUrl"
         value="http://127.0.0.1:7777/"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes" />
    <add key="LogDirectory"
         value="/ProVersa/PaymentTerminalServices/Logs"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes" />
    <add key="TerminalSessionDirectory"
         value="/ProVersa/PaymentTerminalServices/TerminalSessions"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes" />
  </appSettings>
</configuration>